h1 { 
    font-size: 100px ;
    color:red;
    text-decoration:underline;
}

body{
    background-color:silver;
}
img {
    width: 300px ;
    height: 300px;

}

ol li{
    color:springgreen;

}
ul li{
text-decoration:dashed;
color:gold;

}